/* Small devices (mobile, dưới 576px) */
/* @media (max-width: 576px) {
    .container-fluid {
        padding: 0;
    }

    .map-container {
        height: 200px;
    }

    .loadingMap {
        font-size: 10px;
    }

    .input-group {
        width: 130%;
        height: auto;
    }

    .form-control {
        height: 35px !important;
        font-size: 14px;
        padding: 5px 10px;
    }

    .dropdown-menu.show {
        width: 130%;
        max-height: 140px;
        overflow-y: auto;
    }

    .card {
        margin-bottom: 10px;
        border: 1px solid #ddd;
    }

    .dropdown-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        background-color: white;
        border: 1px solid #ddd;
        z-index: 1000;
    }

    .dropdown-item {
        padding: 8px 12px;
        cursor: pointer;
    }

    .dropdown-item:hover {
        background-color: #f1f1f1;

        .card-img-top {
            height: 100px;
            object-fit: cover;
        }

        .card-title {
            font-size: 13px;
        }

        .col-lg-3 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .img-fluid.rounded {
            height: auto;
        }

        .display-5.mb-1 {
            font-size: 18px;
        }

        .mb-1 {
            font-size: 13px;
        }

        .nav-pills {
            display: none;
        }
    }
} */
/* Tablet (577px - 768px) */
/* @media (min-width: 577px) and (max-width: 768px) {
    .map-container {
        height: 450px;
    }

    .input-group {
        width: 180%;
    }

    .dropdown-menu.show {
        width: 180%;
    }

    .nav-pills {
        display: flex;
        justify-content: center;
    }

    .nav-item {
        padding: 10px 15px;
    }

    .img-fluid.rounded {
        height: 120px;
    }
} */

/* Desktop (từ 769px trở lên) */
/* @media (min-width: 769px) {
    .map-container {
        height: 500px;
    }

    .input-group {
        width: 200%;
    }

    .dropdown-menu.show {
        width: 200%;
    }

    .display-5.mb-1 {
        font-size: 18px;
    }

    .nav-pills {
        display: inline-flex;
        justify-content: center;
    }
} */
.dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1000;
}

.dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}