/* Container styles */
.travel-mode-container {
    display: flex;
    justify-content: flex-start; /* Các nút nằm sát nhau từ đầu container */
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    gap: 15px; /* Khoảng cách giữa các nút */
  }
  
  .travel-button {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 14px;
    cursor: pointer;
    padding: 5px; /* Giảm padding để nút nhỏ lại */
  }
  
  
  .travel-button img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
  }
  
  .travel-button.selected {
    background-color: #e0f0ff;
    border-radius: 50%;
    color: #007bff;
    font-weight: bold;
  }
  
  /* Calculate button style */
  .calculate-route {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .calculate-route:hover {
    background-color: #0056b3;
  }
  